* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 700px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 700px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-component {
    position: relative; /* Allow absolute positioning inside */
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;  /* Curved border */
    background-color: #fff;
}

.border-label {
    position: absolute;
    top: -12px;   /* Move label outside the form component */
    left: 7px;  /* Align label to the left of the form component */
    font-weight: bold;
    font-size: 16px;
    background-color: #fff;
    padding: 0 5px;
    border-radius: 5px;
    color: #333;
}

textarea {
    width: 100%;
    height: 150px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

textarea[readonly] {
    background-color: #e9e9e9;
    cursor: not-allowed;
}

/* Conversion Options Styling */
.conversion-options {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
}

.character-type-component,
.space-conversion-component {
    width: 48%;
}

.character-type-component label,
.space-conversion-component label {
    display: inline-block;
    margin-right: 15px;
}

.radio-group {
    display: flex;
    padding-top: 5px;
    gap: 1rem; /* Add spacing between the radio buttons */
}

.table-component {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

th, td {
    padding: 12px;
    font-size: 1rem;
}

th {
    background-color: #f1f1f1;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

td {
    color: #555;
    text-align: left;
}

th.separator, td.separator {
    border-left: 2px solid #ccc;
    padding-left: 20px;
}

table td, table th {
    border-right: 1px solid #ccc;
}
